name: Ruby
on:
  push:
    branches:
      - main
      - master
jobs:
  CI:
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    steps:
      - uses: actions/checkout@v6
      - name: install libyaml
        run: sudo apt-get update && sudo apt-get install -y libyaml-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.0
      - name: Install dependencies
        working-directory: roda+sequel
        run: bundle install
